<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<h3><a href="<%= bands_url %>">All Bands</a> > <a href="<%= band_url(@band) %>"><%= @band.name %></a> > <a href="<%= album_url(@album) %>"><%= @album.title %></a> > <%= @track.title %></h3>


<h2>Lyrics:</h2>
<%= ugly_lyrics(@track.lyrics) %>

<%= render partial: "notes/note" %>
<%= render partial: "notes/form" %>

