<h1><%= @track.title %></h1>

<h2>Lyrics:</h2>
<%= ugly_lyrics(@track.lyrics) %>

<%= render partial: "notes/note" %>
<%= render partial: "notes/form" %>

<a href="<%= album_url(@album) %>">Back to <%= @album.title %></a>