<h1>Edit <%= @album.title %></h1>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label>
    Album Title
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>
  <br>

  <label>
    Recording Type:
    <br>
    <% Album::RECORDING_TYPES.each do |rec_type| %>
      <label>
        <%= rec_type %>
        <input type="radio"
        name="album[recording_type]"
        value="<%= rec_type %>"
        <%= "checked" if @album.recording_type == rec_type %>>
      </label>
    <% end %>
  </label>
  <br>

  <button>Edit Album</button>
</form>