<h1>Add Album</h1>

<form action="<%= albums_url %>" method="post">
  <%= auth_token %>

  <label>
    Album Title
    <input type="text" name="album[title]" value="<%= @album.title %>">
  </label>
  <br>

  <label>
    <select name="album[band_id]">
      <% @bands.each do |band| %>
        <option
          value="<%= band.id %>"
          <%= "selected" if params[:band_id].to_i == band.id %>><%= band.name %></option>
      <% end %>
    </select>
  </label>
  <br>

  <label>
    Recording Type:
    <br>
    <% Album::RECORDING_TYPES.each do |rec_type| %>
      <label>
        <%= rec_type %>
        <input type="radio"
        name="album[recording_type]"
        value="<%= rec_type %>"
        <%= "selected" if @album.recording_type == rec_type %>>
      </label>
    <% end %>
  </label>
  <br>

  <button>Add Album</button>
</form>