<h3><a href="<%= bands_url %>">All Bands</a> > <a href="<%= band_url(@band) %>"><%= @band.name %></a> > <%= @album.title %></h3>


<table>
  <th align="left">Num</th>
  <th align="left">Title</th>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.track_number %></td>
      <td><a href="<%= track_url(track) %>"><%= track.title %></a>
      <td><%= button_to "Edit", edit_track_url(track), :method => :get %></td>
      <td><%= button_to "Delete", track_url(track), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br>
<a href="<%= new_album_track_url(@album) %>">Add New Track</a>