<h1><%= @album.title %></h1>

<table>
  <th align="left">Num</th>
  <th align="left">Title</th>
  <% @album_tracks.each do |track| %>
    <tr>
      <td><%= track.track_number %></td>
      <td><%= track.title %>
      <td><%= button_to "Edit", edit_track_url(track), :method => :get %></td>
      <td><%= button_to "Delete", track_url(track), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<a href="<%= new_album_track_url(@album) %>">Add New Track</a>
<br>

<a href="<%= band_url(@album_band) %>">Back To <%= @album_band.name %></a>