<h3><a href="<%= bands_url %>">All Bands</a> > <%= @band.name %></h3>

<table>
  <th align="left">Title</th>
  <th align="left">Recording Type</th>
  <% @albums.each do |album| %>
  <tr>
    <td><a href="<%= album_url(album) %>"><%= album.title %></a></td>
    <td><%= album.recording_type %></td>
    <td><%= button_to "Edit", edit_album_url(album), :method => :get %><td>
    <td><%= button_to "Delete", album_url(album), :method => :delete %><td>
  </tr>
  <% end %>
</table>
<br>

<a href="<%= new_band_album_url(@band) %>">Add New Album</a>